<header xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.w3.org/1999/xhtml">
    <nav class="nav navbar-inverse" style="width: 100vw;">
        <div class="container-fluid">
            <!-- Header !-->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/anti-police" class="navbar-brand">Anti-police
                </a>
            </div>
            <!-- Items !-->
            <div class="collapse navbar-collapse" id="topNavBar">

                <ul class="nav navbar-nav navbar-right">
                    <li class="" sec:authorize="isAuthenticated()">
                        <a href="#">
                            <span class="glyphicon glyphicon-user" aria-hidden="true">
                            </span>
                            <th:block th:text="${#request.getRemoteUser()}">
                            </th:block>
                        </a>
                    </li>
                    <li class="" sec:authorize="isAuthenticated()">
                        <a th:href="@{/anti-police/new_location}">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            Add
                        </a>
                    </li>
                    <li class="" sec:authorize="isAuthenticated()">
                        <a th:href="@{'/anti-police?filter=mostSubmitted'}">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            MostCommon
                        </a>
                    </li>
                    <li class="" sec:authorize="isAuthenticated()">
                        <a href="#" data-toggle="modal" data-target="#myModal">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                            Log out
                        </a>
                        <!-- Modal -->
                        <div class="modal fade" id="myModal" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Confirmation</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>Are you sure you want to logout?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="/logout" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Yes</a>
                                        <a href="/anti-police" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">No</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <th:block sec:authorize="!isAuthenticated()">
                    <li class="">
                        <a href="/register">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            Register
                        </a>
                    </li>
                    <li class="">
                        <a href="/login">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            Log in
                        </a>
                    </li>
                    </th:block>
                </ul>
            </div>
        </div>
    </nav>
</header>
